body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  font-weight: 900;
  text-align: center;
}
/* title */
h1 {
  font-family: Arial, sans-serif;
  background-color: #f4f4f400;
  text-align: center;
}
/* table */
table {
  width: 80%;
  margin: 20px auto;
  background-color: #02c0ffa3;
  color: white;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #0056b3;
  font-size: 1.1em;
}

/* button */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0056b3;
}
